.articles_item {
  &:first-child .articles_link::before {
    background-image: url(/src/images/articles/1.webp);

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/articles/1@2x.webp);
    }
  }

  &:nth-child(2) .articles_link::before {
    background-image: url(/src/images/articles/2.webp);

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/articles/2@2x.webp);
    }
  }

  &:nth-child(3) .articles_link::before {
    background-image: url(/src/images/articles/3.webp);

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/articles/3@2x.webp);
    }
  }

  &:nth-child(4) .articles_link::before {
    background-image: url(/src/images/articles/4.webp);

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/articles/4@2x.webp);
    }
  }
}

.articles_link {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    auto calc(20px / $vw-mobile-coef) auto calc(12px / $vw-mobile-coef)
    auto;

  border-radius: calc(16px / $vw-mobile-coef);

  transition-property: transform, padding-bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.01);

    @media screen and (max-width: calc($tablet-width - 0.02px)) {
      padding-bottom: calc(8px / $vw-mobile-coef);
    }
  }

  @media screen and (min-width: $tablet-width) {
    grid-template-columns:
      auto calc(24px / $vw-tablet-coef)
      1fr;
    grid-template-rows:
      auto calc(12px / $vw-tablet-coef)
      1fr;

    border-radius: calc(16px / $vw-tablet-coef);
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns:
      auto calc(24px / $vw-desktop-coef)
      1fr;
    grid-template-rows:
      auto calc(12px / $vw-desktop-coef)
      auto;

    border-radius: calc(16px / $vw-desktop-coef);
  }

  &::before {
    content: "";
    grid-row: 1/2;
    height: calc(170px / $vw-mobile-coef);
    border-radius: calc(16px / $vw-mobile-coef);

    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: $tablet-width) {
      grid-column: 1/2;
      grid-row: 1/4;

      width: calc(264px / $vw-tablet-coef);
      height: calc(156px / $vw-tablet-coef);
      border-radius: calc(16px / $vw-tablet-coef);
    }

    @media screen and (min-width: $desktop-width) {
      width: calc(264px / $vw-desktop-coef);
      height: calc(156px / $vw-desktop-coef);
      border-radius: calc(16px / $vw-desktop-coef);
    }
  }
}

.articles_link-title {
  grid-row: 3/4;

  font-family: $title-font;
  font-size: calc(16px / $vw-mobile-coef);
  line-height: calc(20 / 16);
  letter-spacing: calc(0.5px / $vw-mobile-coef);

  color: $grey;

  @media screen and (min-width: $tablet-width) {
    grid-column: 3/4;
    grid-row: 1/2;

    font-size: calc(20px / $vw-tablet-coef);
    line-height: calc(28 / 20);
    letter-spacing: calc(0.5px / $vw-tablet-coef);
  }

  @media screen and (min-width: $desktop-width) {
    font-size: calc(20px / $vw-desktop-coef);
    letter-spacing: calc(0.5px / $vw-desktop-coef);
  }
}

.articles_link-text {
  grid-row: 5/6;

  font-family: $regular-font;
  font-size: calc(16px / $vw-mobile-coef);
  line-height: calc(24 / 16);
  letter-spacing: calc(0.5px / $vw-mobile-coef);

  color: $grey;

  @media screen and (min-width: $tablet-width) {
    grid-column: 3/4;
    grid-row: 3/4;

    font-size: calc(16px / $vw-tablet-coef);
    letter-spacing: calc(0.5px / $vw-tablet-coef);
  }

  @media screen and (min-width: $desktop-width) {
    font-size: calc(20px / $vw-desktop-coef);
    letter-spacing: calc(0.5px / $vw-desktop-coef);
  }
}
