// Breakpoints
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;

// Fonts
@font-face {
  font-family: "Montserrat-bold";
  src: url("/src/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat-normal";
  font-weight: normal;
  src: url("/src/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
}

$title-font: "Montserrat-bold", sans-serif;
$regular-font: "Montserrat-normal", sans-serif;

// Colors
$common-white: #fff;
$orange: #f07f2e;
$grey: #2c2c2c;
$common-black: #2f2f37;
$blue-light: #ecf6ff;
$navy: #d8def8;
$scarlet: #fae8ea;
$yellow: #fffddc;
$pink: #ffe8f1;
$turquoise: #e9f9f8;
$lilac: #f2eef8;

//   // colors
//   --main-text-color: #131313;
//   --inverse-text-color: #fcfcfc;
//   --brand-color: #f8d24e;
//   --background-color: #84a178;
//   --button-text-color: #000000;
//   --button-text-inverse-color: #ffffff;
//   --button-hover-color: #0a8817;
//   --address-text-color: #d6936d;
//   --work-time-color: #ababab;
//   --copyright-color: #7a7a7a;
//   // background color in inputs of product card
//   --background-input-color: rgba(248, 210, 78, 0.1);

//   // transitions
//   --normal-transition-duration: 250ms;
//   --normal-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
