.articles .container {
  @media screen and (min-width: $desktop-width) {
    width: 100%;
  }
}

.articles_list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: calc(48px / $vw-mobile-coef);

  @media screen and (min-width: $tablet-width) {
    row-gap: calc(36px / $vw-tablet-coef);
  }

  @media screen and (min-width: $desktop-width) {
    row-gap: calc(36px / $vw-desktop-coef);
  }
}
