<section class="articles">
  <div class="container articles_container">
    <h2 class="articles_title visually-hidden">Articles about cats</h2>
    <ul class="articles_list">
      <li class="articles_item">
        <a href="" class="articles_link">
          <h3 class="articles_link-title">
            Найпопулярніші породи котів: який кіт підходить вам?
          </h3>
          <p class="articles_link-text">
            Вивчіть найпопулярніші породи котів і їхні особливості, щоб зробити
            інформований вибір, який підходить саме вам.
          </p>
        </a>
      </li>
      <li class="articles_item">
        <a href="" class="articles_link">
          <h3 class="articles_link-title">
            Як піклуватися про вашого пухнастого друга: догляд за котом
          </h3>
          <p class="articles_link-text">
            Дізнайтеся про основні аспекти догляду за котом, включаючи
            годування, гігієну та взаємодію з вашим улюбленцем.
          </p>
        </a>
      </li>
      <li class="articles_item">
        <a href="" class="articles_link">
          <h3 class="articles_link-title">
            Забавні факти про котів, які вас здивують
          </h3>
          <p class="articles_link-text">
            Веселі та цікаві факти про котів, які піднімуть вам настрій та
            розкажуть про їхні унікальність.
          </p>
        </a>
      </li>
      <li class="articles_item">
        <a href="" class="articles_link">
          <h3 class="articles_link-title">
            Історія та культурна значущість котів у всьому світі
          </h3>
          <p class="articles_link-text">
            Вивчіть, як коти впливали на культури різних народів, та дізнайтеся
            історію спільного життя людей і котів.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
