<section class="hero">
  <div class="container">
    <h1 class="hero_title visually-hidden">Most popular articles</h1>
    <ul class="hero_posts">
      <li class="hero_post">
        <a class="hero_card" href="" target="_blank" rel="noopener noreferrer"
          ><h3 class="hero_card-title">
            Коти та їхні чудові навички: від полювання до загадкових здібностей
          </h3></a
        >
      </li>
      <li class="hero_post">
        <a class="hero_card" href="" target="_blank" rel="noopener noreferrer"
          ><h3 class="hero_card-title">
            Коти в літературі та мистецтві: від Єгипетських богів до сучасних
            майстрів
          </h3></a
        >
      </li>
      <li class="hero_post">
        <a class="hero_card" href="" target="_blank" rel="noopener noreferrer"
          ><h3 class="hero_card-title">
            Котячі породи для активних власників: як вибрати компаньйона
          </h3></a
        >
      </li>
    </ul>
  </div>
</section>
