<section class="socials">
  <div class="container">
    <h2 class="section-title">Соцмережі</h2>
    <ul class="socials_list">
      <li class="socials_item">
        <a
          href="https://www.instagram.com/"
          class="socials_link"
          target="_blank"
          rel="noopener noreferrer"
          title="instagram"
        >
          <div class="socials_icons-thumb">
            <svg class="socials_icon" width="13.33" height="13.33">
              <use href="/src/images/sprite.svg#instagram"></use>
            </svg>
          </div>
          <p class="socials_amount">230.000</p>
        </a>
      </li>
      <li class="socials_item">
        <a
          href="https://www.facebook.com/"
          class="socials_link"
          target="_blank"
          rel="noopener noreferrer"
          title="facebook"
        >
          <div class="socials_icons-thumb">
            <svg class="socials_icon" width="8" height="16">
              <use href="/src/images/sprite.svg#facebook"></use>
            </svg>
          </div>
          <p class="socials_amount">230.000</p>
        </a>
      </li>
      <li class="socials_item">
        <a
          href="https://www.youtube.com/"
          class="socials_link"
          target="_blank"
          rel="noopener noreferrer"
          title="youtube"
        >
          <div class="socials_icons-thumb">
            <svg class="socials_icon" width="13.33" height="10.67">
              <use href="/src/images/sprite.svg#youtube"></use>
            </svg>
          </div>
          <p class="socials_amount">230.000</p>
        </a>
      </li>
      <li class="socials_item">
        <a
          href="https://www.tiktok.com/"
          class="socials_link"
          target="_blank"
          rel="noopener noreferrer"
          title="tiktok"
        >
          <div class="socials_icons-thumb">
            <svg class="socials_icon" width="12" height="13.33">
              <use href="/src/images/sprite.svg#tiktok"></use>
            </svg>
          </div>
          <p class="socials_amount">230.000</p>
        </a>
      </li>
      <li class="socials_item">
        <a
          href="https://github.com/"
          class="socials_link"
          target="_blank"
          rel="noopener noreferrer"
          title="github"
        >
          <div class="socials_icons-thumb">
            <svg class="socials_icon" width="16" height="15.61">
              <use href="/src/images/sprite.svg#github"></use>
            </svg>
          </div>
          <p class="socials_amount">230.000</p>
        </a>
      </li>
      <li class="socials_item">
        <a
          href="https://twitter.com/"
          class="socials_link"
          target="_blank"
          rel="noopener noreferrer"
          title="twitter"
          ><div class="socials_icons-thumb">
            <svg class="socials_icon" width="16" height="13">
              <use href="/src/images/sprite.svg#twitter"></use>
            </svg>
          </div>
          <p class="socials_amount">230.000</p>
        </a>
      </li>
    </ul>
  </div>
</section>
